[submodule ".config/vim/pack/tpope/start/unimpaired"]
	path = .config/vim/pack/tpope/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git/
[submodule ".config/vim/pack/tpope/start/commentary"]
	path = .config/vim/pack/tpope/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".config/vim/pack/tpope/start/surround"]
	path = .config/vim/pack/tpope/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".config/vim/pack/tpope/start/fugitive"]
	path = .config/vim/pack/tpope/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".config/vim/pack/colors/opt/everforest"]
	path = .config/vim/pack/colors/opt/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule ".config/zsh/plugins/fast-syntax-highlighting"]
	path = .config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule ".config/zsh/plugins/powerlevel10k"]
	path = .config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
